header {
  text-align: center;
  position: sticky;
  height: 5vh;
}
.chat-app {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 95vh;
  margin: 0 auto;
  background-color: #f1f1f1;
  position: relative;
  border-top: 2px solid black;

}
.messages {
  margin-top: 10px;
}
.message {
  text-align: start;
  border-radius: 2px;
  font-size: 18px;
  padding: 10px;
}
.message:nth-child(2n) {
  background-color: #e2e2e2;
}
#username-div {
  text-align: center;
}
#username-div > button {
  height: 30px;
}
#username-input {
  width: 300px;
  height: 30px;
}
.inputs {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
.message-input {
  width: 70%;
  height: 40px;
  border: 2px solid gray;
  border-radius: 2px;
  font-size: 19px;
}
.button {
  width: 30%;
  height: 40px;
}